
__pycache__/
*.py[cod]


venv/
env/
*.venv

.env
.env.local
.env.development.local



*.log
*.bak
*.swp


.idea/
.vscode/


*.pyc
*.pyo
*.qrc
*.ui.py


build/
dist/
*.egg-info/


*.o
*.obj
*.so
*.dll
*.dylib


Thumbs.db
.DS_Store
