plumbum==1.9.0
psutil==6.1.1
PyQt5==5.15.11
PyQt5-Qt5== 5.15.2
PyQt5_sip==12.17.0
pywin32==308
setuptools==65.5.0
winapps==0.2.0
pyuac==0.0.3
beautifulsoup4==4.13.3
mitmproxy==11.0.2
mitmproxy_rs==0.10.7
mitmproxy-windows==0.10.7